<div id='{{{artist_name}}}'>
  <h3>{{artist_name}}</h3>
  <h4>{{city}}</h4>
  <p>City Unigrams: {{city_unigrams}}</p>
  <p>City Bigrams: {{city_bigrams}}</p>
  <p>Most common words: {{common_words}}</p>
</div>
